#---------------------------------------------------------------------
# GitHub Action Workflow to Demo AWS Integration via OIDC
#
# Version      Date        Info
# 1.0          2025        Initial Version
#
# Made by Denis Astahov ADV-IT Copyleft (c) 2025
#---------------------------------------------------------------------
name: GHA-Pipeline-to-AWS-DEMO
env:
  AWS_S3_BUCKET_NAME: "github-aws-integration-bucket"
  AWS_IAM_ROLE_ARN  : "arn:aws:iam::061302979075:role/github-aws-integration-role"
  AWS_DEFAULT_REGION: "ca-central-1"

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

on: 
  push:
    branches: 
      - main

jobs:
  my_ci_part:
    runs-on: ubuntu-latest

    steps:
    - name: Git clone our repo
      uses: actions/checkout@v4
       
    - name: Configure my AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region              : ${{ env.AWS_DEFAULT_REGION }}
        role-to-assume          : ${{ env.AWS_IAM_ROLE_ARN }}

    - name: Test AWS Credentials Setup
      run : aws sts get-caller-identity

    - name: List Files from Repo
      run : ls -la

    - name: List Files from S3
      run : aws s3 ls s3://${{ env.AWS_S3_BUCKET_NAME }}

    - name: Print Happy Message for CI finish
      run : echo "CI Pipeline part Finished successfully!"



  my_cd_part:
    runs-on: ubuntu-latest
    needs: [my_ci_part]

    steps:
    - name: Git clone our repo
      uses: actions/checkout@v4
       
    - name: Configure my AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-region              : ${{ env.AWS_DEFAULT_REGION }}
        role-to-assume          : ${{ env.AWS_IAM_ROLE_ARN }}
    
    - name: Test AWS Credentials Setup
      run : aws sts get-caller-identity

    - name: Copy files to S3 bucket
      run: |
        aws s3 cp . s3://${{ env.AWS_S3_BUCKET_NAME }}/ \
          --recursive \
          --exclude "*" \
          --include "*.txt"
      
    - name: Print Happy Message for CD finish
      run : echo "CD Pipeline part Finished successfully!"
